body {
      background-image: url("/static/images/background.jpg");
      background-size: cover; /* или contain / auto */
      background-repeat: no-repeat;
      background-position: center;
    }