{% extends "base.html" %}


{% block title %}{{ menu_item.name }}{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/details_menu.css') }}">{% endblock styles %}
{% block content %}
    <div class="container-detail-menu">
        <img class="detail-menu-description-image"src="{{ menu_item.image_path }}" alt="{{ menu_item.name }}" width="500">
        <h1>{{ menu_item.name }}</h1>
        <p class="detail-menu-description">{{ menu_item.description }}</p>
        <p class="detail-menu-price">Price: {{ menu_item.price }} грн.</p>
        <p class="detail-menu-category">Category: {{ menu_item.category }}</p>

        {% if current_user.is_authenticated %}

            <form action="{{ url_for('menu.add_to_order', item_id=menu_item.id) }}" method="POST">
        
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Order</button>
            </form>
    
        {% endif %}
    </div>
{% endblock content %}